.container {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  width: 300px;
  text-align: center;
}

.title {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: #333;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  width: 100%;
  padding: 10px;
  background: #064420; /* mismo verde que el fondo */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background: #056135;
}

